<mat-card class="product-card z-depth-2">
  <mat-card-header *ngIf="false">
    <mat-card-title>R$ {{product.value}}</mat-card-title>
    <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{product.imageUrl}}" alt="Photo of {{product.name}}">
  <mat-card-content>
    <p> Ingredientes:</p><br />
    <ul>
      <li *ngFor="let ing of product.ingredients">{{ing.name}}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab (click)="addProduct(product)" color="accent"
      [ngClass]="{'mat-elevation-z6 pulse' : addHover, 'mat-elevation-z2': !addHover}" (mouseenter)="addHover = true"
      (mouseleave)="addHover = false">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
