<!-- <mat-grid-list cols="2" rowHeight="3:4">
  <mat-grid-tile *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </mat-grid-tile>
</mat-grid-list> -->



<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col col-md-8 col-md-6">
      <mat-accordion *ngFor="let product of products">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              R${{product.value.toFixed(2)}}
            </mat-panel-title>
            <mat-panel-description>
              {{product.name}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="d-flex justify-content-center">
              <div class="col col-md-8 col-lg-5">
                <app-product [product]="product"></app-product>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

