<div class="container-fluid">
  <div class="d-flex justify-content-end" *ngIf="!haveItensIntoCart">
    <div class="col-7 col-xs-3 col-md-3 col-lg-2 text-center">
      <mat-chip-list>
        <mat-chip color="accent" selected>Carrinho vazio</mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class=" justify-content-center d-none d-sm-flex d-lg-flex" *ngIf="haveItensIntoCart">
    <mat-card>
      <div class="d-flex justify-content-around">
        <div class="col-2">
          <strong>Total:</strong>
        </div>
        <div class="col-8">
          <mat-card-subtitle>
            R$ {{amount}} (com o desconto)
          </mat-card-subtitle>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="col-5">
          <button mat-raised-button color="accent" (click)="keepBuying()">Continuar comprando</button>
        </div>
        <div class="col-5">
          <button mat-stroked-button color="accent" (click)="endPurchase()">Finalizar compra</button>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="d-flex justify-content-center d-sm-none" *ngIf="haveItensIntoCart">
    <div class="col">
      <mat-card>
        <div class="d-flex justify-content-around">
          <div class="col-1">
            <strong>Total:</strong>
          </div>
          <div class="col-6">
            <mat-card-subtitle>
              R$ {{amount}} (com o desconto)
            </mat-card-subtitle>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-12">
            <button mat-raised-button class="button-row" color="accent" (click)="keepBuying()">Continuar comprando</button>
          </div>
        </div>
        <br/>
        <div class="d-flex justify-content-center">
          <div class="col-12">
            <button mat-stroked-button class="button-row" color="accent" (click)="endPurchase()">Finalizar compra</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="haveItensIntoCart">
    <div class="col col-md-8 col-lg-4">
      <mat-accordion *ngFor="let item of itemCarts">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              R${{item.value.toFixed(2)}}
            </mat-panel-title>
            <mat-panel-description>
              {{item.name}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="d-flex justify-content-center">
            <div class="col-10 col-md-8 col-lg-10">
              <button mat-icon-button color="accent" type="button" #tooltip="matTooltip" (click)="removeItemCart(item.id)"
                matTooltip="Remover item" matTooltipPosition="right">
                <mat-icon aria-label="">remove_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>


</div>
